---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

console.log(posts.map((p) => p.id));

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  width: auto;
}

ul li a {
  display: block;
}

ul li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0.6rem;
}

/* remove the "first post is huge" rule */
ul li:first-child {
  width: auto;
  margin-bottom: 0;
  text-align: left;
}
ul li:first-child img {
  width: 100%;
}
ul li:first-child .title {
  font-size: inherit;
}

@media (max-width: 900px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  ul {
    grid-template-columns: 1fr;
  }
}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.heroImage && (
									 <Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}	


									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
